{% extends "layout.twig" %}

{% block title %}
    Your Groups
{% endblock title %}

{% block main %}

    <main class="container m-4">
        <h1>Your groups</h1>
        <a href="{{ full_url_for('Groups Create') }}" class="btn btn-primary" role="button">Create new</a>
    </main>

    <section class="container">
        <div class="row">
            {% for group in groups %}
            <div class="col-sm-4">
                <div class="card bg-info">
                    <h5 class="card-header"><a href="{{ full_url_for('Groups View', { 'group_id': group.group_id, 'group_name': group.name }) }}">{{ group.name }}</a></h5>
                    <div class="card-body">
                        <p class="card-text">Created by: {{ group.owner.given_name }} {{ group.owner.family_name }}</p>
                        <p class="card-text">Notes count: {{ group.notes_count }}</p>
                        <p class="card-text">Members count: {{ group.members_count }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </section>

{% endblock main %}