{% extends "layout.twig" %}

{% block title %}

    {{ group.name }}

{% endblock %}

{% block head %}
    <style>
        .card-body {
            max-width: fit-content !important;
            background-color: transparent !important;
            height: 12em;
            overflow: hidden;
        }
    </style>
{% endblock head %}

{% block main %}
    <main class="container">
        <h1>{{ group.name }}</h1>

        {% if group.owner_id == user.user_id %}

        <div class="btn-group" role="group">
            <a href="{{ full_url_for('Groups Delete', { 'group_id': group.group_id, 'group_name': group.sname }) }}" class="btn btn-danger">Delete</a>
            <a href="{{ full_url_for('Groups Settings', { 'group_id': group.group_id, 'group_name': group.sname }) }}" class="btn btn-warning">Settings</a>
            <a href="{{ full_url_for('Groups Share', { 'group_id': group.group_id, 'group_name': group.sname }) }}" class="btn btn-success">Share</a>
        </div>

        {% endif %}

        <h1 class="mt-2">Notes shared within this group:</h1>
        <section class="container">
            <div class="row">
                {% for note in notes %}
                    <div class="col-sm-4 mb-4">
                        <div class="card bg-info">
                            <h5 class="card-header"><a href="{{ full_url_for('Notes View', { 'note_id': note.note_id, 'note_name': note.name }) }}">{{ note.name }}</a><br/><a href="{{ full_url_for('Groups Remove Note', { 'group_id': group.group_id, 'note_id': note.note_id }) }}" class="btn btn-danger m-3">Remove access from this group</a>
                            </h5>
                            <div class="card-body m-2">
                                <div class="card-text">{{ note.content | raw }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock main %}