{% extends "layout.twig" %}

{% block title %}
    {{ note.name }}
{% endblock title %}

{% block head %}
    <style>
        article > * {
            max-width: fit-content !important;
            background-color: transparent !important;
        }

    </style>
{% endblock head %}

{% block main %}

    <main class="container m-4">
        <h1>{{ note.name }}</h1>

        {% if note.owner.user_id == user.user_id %}

            <div class="btn-group" role="group">
                <a href="{{ full_url_for('Notes Delete', { 'note_id': note.note_id }) }}" class="btn btn-danger">Delete</a>
                <a href="{{ full_url_for('Notes Edit', { 'note_id': note.note_id }) }}" class="btn btn-warning">Edit</a>
                <a href="{{ full_url_for('Notes Share', { 'note_id': note.note_id }) }}" class="btn btn-success">Share</a>
            </div>

        {% else %}

            <small>By {{ note.owner.given_name }} {{ note.owner.family_name }}</small>

        {% endif %}

        <article class="pt-3 pb-5 mw-100">

            {% autoescape %}
            {{ note.content | raw }}
            {% endautoescape %}

        </article>
    </main>

{% endblock main %}